.carousel .slide img {
  max-height: 80vh;  /* change this to whatever you want */
  width: 100;
}
.carousel .slide {
  background: none !important;
}
.carousel{
  margin-top: 60px !important;
}
.upcomingCarousel .slide{
  padding: 0 5px !important;
}